server:
  port: 8080
  servlet:
    context-path: /api/

spring:
  datasource:
    generate-unique-name: false
    url: jdbc:postgresql://localhost:5432/myfinances
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true
      path: /h2-console
  banner:
    location: banner.txt